body {
    font-family: Arial;
}

div {
    background-color: rgb(65, 73, 71);
    margin: auto;
    width: 77%;
    padding-left: 10px;
}

p, li, dl {
    color: rgb(250, 250, 250);
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Tahoma;
}

/* ol {
    list-style: none;
    counter-reset: line 5;
}

ol>li:before {
    counter-increment: line -1;
    content: counter(line) ". ";
} */

dl {
    font-size: 12px;
    padding-top: 0px;
}

dd {
    font-weight: lighter;
}

dt {
    color: rgb(249, 237, 125);
    font-weight: bold;
}

hr {
    width: 98%;
    margin: 0 0 1.4em;
    color: rgb(65, 73, 71);
}

a {
    color: rgb(200, 74, 74);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#movieTips {
    font-style: italic;
}

#headerTitle {
    font-size: 65px;
    padding-top: 8px;
    color: rgb(121, 161, 220);
}

#footer {
    padding-bottom: 20px;
}

.subTitle {
    color: rgb(121, 161, 220);
    font-size: 22px;
    font-weight: initial;
}

.myCharacter {
    color: rgb(249, 237, 125);  
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
}

p.paragraph:first-letter, p#movieTips::first-letter {
    font-size: 150%;
}